In [1]:
import pandas as pd

from collections import Counter

In [13]:
raw_data = pd.read_csv("datasets/raw_dataset.csv")
raw_data.head()

,author,author_avatar_url,membership_date,author_bio,num_followers,v3_newsletter_subs,date,reading_time,title,post_url,claps,num_unique_clappers,image_url,num_responses,tags,author_url
0,Tim Denning,https://miro.medium.com/1*bfllCILGW4yHKXgFo8Jk...,2021-10-07 13:55:47,Aussie Blogger with 500M+ views — Writer for C...,312483,3355,2023-02-27 22:07:03.532000,4.0,How I Feel Highly Motivated at Times I Should ...,https://medium.com/mind-cafe/how-i-feel-highly...,761,60,https://miro.medium.com/1*XK7lrP-R03_mkPBXQstm...,13,"['motivation', 'self-improvement', 'life', 'pr...",https://timdenning.medium.com/
1,Tim Denning,https://miro.medium.com/1*bfllCILGW4yHKXgFo8Jk...,2021-10-07 13:55:47,Aussie Blogger with 500M+ views — Writer for C...,312483,3355,2023-02-27 16:31:24.188000,6.0,Money Habits Keeping You Poor — Ex-Banker Expl...,https://medium.com/swlh/money-habits-keeping-y...,1426,170,https://miro.medium.com/1*3lljDthLJJNeU1mMcjgy...,22,"['money', 'entrepreneurship', 'business', 'wor...",https://timdenning.medium.com/
2,Tim Denning,https://miro.medium.com/1*bfllCILGW4yHKXgFo8Jk...,2021-10-07 13:55:47,Aussie Blogger with 500M+ views — Writer for C...,312483,3355,2023-02-24 10:32:41.574000,4.0,Why Not Quit Your Job in 2023 (And Access Pers...,https://medium.com/swlh/why-not-quit-your-job-...,1573,170,https://miro.medium.com/1*h3yAJOg_s7zxOlZ-TuGh...,33,"['entrepreneurship', 'artificial-intelligence'...",https://timdenning.medium.com/
3,Tim Denning,https://miro.medium.com/1*bfllCILGW4yHKXgFo8Jk...,2021-10-07 13:55:47,Aussie Blogger with 500M+ views — Writer for C...,312483,3355,2023-02-23 00:31:21.655000,5.0,8 Hard Truths About Making Money Online That E...,https://medium.com/swlh/8-hard-truths-about-ma...,1205,82,https://miro.medium.com/1*-d6wDJvbNIqTFgJGSENv...,17,"['entrepreneurship', 'money', 'startup', 'advi...",https://timdenning.medium.com/
4,Tim Denning,https://miro.medium.com/1*bfllCILGW4yHKXgFo8Jk...,2021-10-07 13:55:47,Aussie Blogger with 500M+ views — Writer for C...,312483,3355,2023-02-21 21:48:26.784000,4.0,Here’s How to Get Unlikely Strangers to Respec...,https://medium.com/mind-cafe/heres-how-to-get-...,1073,68,https://miro.medium.com/1*tR1AgtveDv3oJ5EY1mO1...,14,"['relationships', 'life', 'self-improvement', ...",https://timdenning.medium.com/

In [ ]:
raw_data['author'].value_counts()

In [87]:
authors = raw_data.loc[:, ['author', 'membership_date', 'author_bio', 'num_followers', 'v3_newsletter_subs', 'author_url']].drop_duplicates().reset_index(drop=True)
authors['num_articles'] = raw_data['author'].value_counts().values
authors.set_index('author', inplace=True)
authors

,membership_date,author_bio,num_followers,v3_newsletter_subs,author_url,num_articles
author,,,,,,
Tim Denning,2021-10-07 13:55:47,Aussie Blogger with 500M+ views — Writer for C...,312483,3355,https://timdenning.medium.com/,2533
Hasan Aboul Hasan,2022-04-19 16:20:38,"A combination of Human, Father, Developer, You...",6309,454,https://hasanaboulhasan.medium.com/,385
Colin Horgan,2019-01-04 19:02:39,writer.,21538,32,https://cfhorgan.medium.com/,164
Desiree Peralta,2022-06-01 13:46:54,Turning ideas into reality. Programmer by prof...,21188,279,https://dessyperalt.medium.com/,90
Thanos,2022-11-25 20:18:07,Soon to be MD. Here to make your life better o...,1748,85,https://anonwit.medium.com/,22

In [103]:
tag_counts

              author                                               tags
0       Colin Horgan  {'social-media': 17, 'technology': 38, 'intern...
1    Desiree Peralta  {'life': 94, 'life-lessons': 178, 'productivit...
2  Hasan Aboul Hasan  {'online-business': 3, 'online-business-ideas'...
3             Thanos  {'time-management': 1, 'lifestyle': 12, 'self-...
4        Tim Denning  {'motivation': 11, 'self-improvement': 953, 'l...

In [105]:
tag_counts = raw_data.groupby('author').tags.apply(sum).apply(lambda x: eval(x.replace('][', ''))).apply(Counter).apply(dict).reset_index()
num_tags = tag_counts['tags'].apply(lambda x: Counter(x.values()))

for idx, author in enumerate(tag_counts.author):
    print(author)
    print(num_tags[idx])

Colin Horgan
Counter({1: 220, 2: 21, 3: 16, 4: 6, 29: 2, 5: 2, 7: 2, 17: 1, 38: 1, 28: 1, 14: 1, 6: 1, 10: 1, 18: 1, 12: 1})
Desiree Peralta
Counter({1: 236, 2: 45, 3: 12, 4: 11, 5: 8, 7: 3, 14: 3, 66: 2, 6: 2, 9: 2, 94: 1, 178: 1, 30: 1, 83: 1, 23: 1, 73: 1, 13: 1, 32: 1, 36: 1, 11: 1, 29: 1, 19: 1, 10: 1, 33: 1, 12: 1, 44: 1, 80: 1, 28: 1, 22: 1, 20: 1})
Hasan Aboul Hasan
Counter({1: 51, 2: 10, 3: 4, 6: 1})
Thanos
Counter({1: 170, 2: 15, 3: 10, 5: 7, 4: 3, 12: 2, 9: 2, 11: 2, 13: 1, 7: 1})
Tim Denning
Counter({1: 693, 2: 162, 3: 68, 4: 47, 5: 28, 6: 24, 7: 19, 8: 14, 14: 11, 11: 8, 12: 8, 17: 6, 13: 6, 9: 6, 35: 4, 24: 4, 15: 3, 16: 3, 25: 3, 22: 3, 36: 3, 269: 2, 23: 2, 26: 2, 28: 2, 19: 2, 10: 2, 953: 1, 884: 1, 237: 1, 545: 1, 180: 1, 270: 1, 66: 1, 471: 1, 39: 1, 166: 1, 127: 1, 138: 1, 98: 1, 128: 1, 67: 1, 48: 1, 49: 1, 711: 1, 102: 1, 204: 1, 147: 1, 77: 1, 42: 1, 45: 1, 230: 1, 21: 1, 33: 1, 75: 1, 73: 1, 18: 1})

In [106]:
tag_counts

              author                                               tags
0       Colin Horgan  {'social-media': 17, 'technology': 38, 'intern...
1    Desiree Peralta  {'life': 94, 'life-lessons': 178, 'productivit...
2  Hasan Aboul Hasan  {'online-business': 3, 'online-business-ideas'...
3             Thanos  {'time-management': 1, 'lifestyle': 12, 'self-...
4        Tim Denning  {'motivation': 11, 'self-improvement': 953, 'l...

In [107]:
import numpy as np

In [155]:
def filter_tags(row):
    author, tags_dict = row.values.tolist()
    num_articles = authors.loc[author]['num_articles'] 
    ratio = .1
    lower_bound = np.ceil(num_articles*ratio)
    return [author, {k: v for k,v in tags_dict.items() if v>lower_bound}]

In [156]:
tag_counts

              author                                               tags
0       Colin Horgan  {'social-media': 17, 'technology': 38, 'intern...
1    Desiree Peralta  {'life': 94, 'life-lessons': 178, 'productivit...
2  Hasan Aboul Hasan  {'online-business': 3, 'online-business-ideas'...
3             Thanos  {'time-management': 1, 'lifestyle': 12, 'self-...
4        Tim Denning  {'motivation': 11, 'self-improvement': 953, 'l...

In [157]:
filtered_tags

                   0                                                  1
0       Colin Horgan  {'technology': 38, 'politics': 28, 'society': ...
1    Desiree Peralta  {'life': 94, 'life-lessons': 178, 'productivit...
2  Hasan Aboul Hasan                                                 {}
3             Thanos  {'lifestyle': 12, 'self-improvement': 13, 'pro...
4        Tim Denning  {'self-improvement': 953, 'life': 884, 'entrep...

In [158]:
# filter out the tags that are used less than 2 times
filtered_tags = tag_counts.apply(filter_tags, axis=1)
for author in filtered_tags.index:
    print(author)
    print(filtered_tags[author])

0
['Colin Horgan', {'technology': 38, 'politics': 28, 'society': 29, 'culture': 29, 'facebook': 18}]
1
['Desiree Peralta', {'life': 94, 'life-lessons': 178, 'productivity': 30, 'self-improvement': 83, 'money': 23, 'business': 73, 'entrepreneurship': 66, 'finance': 66, 'bitcoin': 13, 'startup': 32, 'self': 36, 'life-lessonsmoney': 11, 'investing': 29, 'cryptocurrency': 19, 'advicemoney': 10, 'work': 14, 'personal-development': 33, 'lifestyle': 12, 'mental-health': 14, 'inspiration': 44, 'inspirationmoney': 14, 'advice': 80, 'creativity': 28, 'ideas': 22, 'writing-tips': 20}]
2
['Hasan Aboul Hasan', {}]
3
['Thanos', {'lifestyle': 12, 'self-improvement': 13, 'productivity': 9, 'writing': 5, 'side-hustle': 9, 'money': 12, 'social-media': 5, 'life': 11, 'philosophy': 4, 'news': 4, 'machine-learning': 5, 'passive-income': 5, 'self-improvementwriting': 4, 'technology': 11, 'psychology': 7, 'programming': 5, 'habits': 5, 'life-lessons': 5}]
4
['Tim Denning', {'self-improvement': 953, 'life': 884, 'entrepreneurship': 545, 'work': 270, 'money': 269, 'startup': 471, 'social-media': 269, 'life-lessons': 711}]

In [ ]:
# average responses the authors get


# average claps


# average reading time